.form{
    margin: 10px auto; 
    padding: 20px auto;
    width: 600px;
    box-shadow: grey 1px 2px;
}

.resultados,
.select_,
input[type=text], 
input[type=password], 
input[type=email], 
input[type=number] {
    padding: 8px 10px;
    margin-bottom: 25px;
    display: inline-block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(51, 51, 51);
    box-sizing: border-box;
    font-size: 15px;
}

/* .selec_:hover, */
input[type=text]:hover, 
input[type=password]:hover, 
input[type=email]:hover, 
input[type=number]:hover {
    border: 1px solid rgb(99, 99, 99);
    border-radius: 3px;
}


.resultados{
    font-weight: 600;
    color: rgb(0, 0, 134);
}


div.txts{
    display: block;
}

div.txtInline{
    display: inline-block;
}


.Txt100{
    width: 110px;
    text-align: center;
}

.TxtAll{
    width: 100%;
}

.TxtNumb{
    text-align: right;
}

#Chk_Recordar{
    margin: 10px 20px;
}

label{
    margin: 0 20px 0 0 ;
    font-weight: 400;
    font-size: 15px;
}
  
button {
    display: block;
    border-radius: 3px;
    background-color: rgba(0, 37, 41, 0.897) ;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
button:hover {
    background: rgba(0, 87, 97, 0.6) ;
    color: white;
}
  
.cancelbtn {
    /* display: none; */
    border-radius: 48%;
    border: 2px solid white;
    width: auto;
    height: auto;
    padding: 4px 7px;
    margin: 6px 26px;
    background-color: rgba(0, 167, 185, 0.664);
    font-size: 30px;
    float: right;
}

#backbtn{
    display: none;
}

@media screen and (max-width: 700px) {
    button{
        width: 150px;
    }
    .cancelbtn{
        display: flex;
    }
    .form{
        width: auto;
    }
}
  
@media screen and (max-width: 500px) {
    .form{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    button{
        width: 100%;
    }

    .cancelbtn{
        width: auto;
    }

}
