*{
    margin: 0;
    padding: 0;
}

html, body{
  width: 100%;
  height: 90%;
}

body{
    font-family: 'Arial','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(30, 30, 30); */
    background-color:  rgb(221, 221, 221);
    background-repeat: no-repeat;
    /* background: linear-gradient(130deg, rgb(153, 153, 153) 28%, rgb(243, 243, 243) 60%); */
    color: rgb(68, 68, 68);
}

.msgbox{
    display: none;
}

h1,h2,h3{
    font-family: "Century Gothic";
    margin: 5px;
    text-align: center;
    font-weight: 500;
}

.cuerpo{
    margin: auto;
    width: 1100px;

}

.recuadro {
    background-color: rgba(95, 95, 95, 0.414);
    display: block;
    margin: 20px auto;
    border: 2px solid rgb(116, 116, 116);
    width: 400px;
}

.container_login{
    text-align: center;
    font-size: 12px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.avatar_h{
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 10px;
    width: 50px;
    float: left;
}

.datos{
    text-align: center;
}




.contenedor {
    /* border: yellow 1px solid ; */
    position: relative;
    padding-bottom: 100%;
    height: auto;
    bottom: auto;
    overflow: hidden;
}

.contenedor iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
  padding: 10px;
}


.container .form{
    /* padding: 10px; */
    padding: 20px 0  0 0;
}

.transp80{
    background: #bcbcbcbf;
}

.containerh{
    top: -30%;
    padding: 2px;
    position: relative;
}






nav{
    width: 100%;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover button.dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 800px) {
    .topnav a, .dropdown button.dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown button.dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }








header{
    padding: 1px;
    margin: 0;
    background: linear-gradient(25deg, rgb(11, 123, 129) 28%, rgb(46, 194, 185) 60%, rgb(12, 146, 144) 28%);
    color: white;
}

.imgs{
    width: 160px;
    position: relative;
    display: flex;
    float: right;
}

.logos{
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
}

.hora{
    display: inline-block;
    color: rgb(245, 115, 115);
}

.fecha{
    display: inline-block;
}

/* .Boton_Div, */
div.oculto{
    display: none;
    margin: 10px;
    padding: 5px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;
    text-align: center;
    
}


@media screen and (max-width:1100px){
    .cuerpo{
        width: auto;
    }
}

@media screen and (max-width: 700px) {
    .cuerpo{
        width: auto;
    }
    .container{
        text-align: center;
    }
    .contenedor{
        width: 100%;
    }
    iframe{
      overflow: visible;
    }
}


@media screen and (max-width: 500px) {
    .cuerpo{
        width: 100%;
    }
    .recuadro{
        width: 100%;
        margin: 0;
    }    
    span.psw {
      display: block;
      float: none;
    }
    img.avatar {
        width: 36%;
    }
    .footer{
        display: none;
    }
}
